<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/styles/css">
    <title>MONGO SCRAPER</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="container-fluid bg-light">
        <div class="row">
            <div class="col-md-12">
                <h1>Mongo Scraper</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 navbar-div">
                <nav class="navbar">
                    <div class="nav-buttons">
                        <a class="mr-2" href="/home">Home</a>
                        <a class="mr-2" href="/saved">Saved Articles</a>
                        <button class="btn btn-danger scrape-button">
                            Scrape New Articles
                        </button>
                    </div>
                </nav>
            </div>
        </div>
        {{{ body }}}
    </div>
</body>

</html>