<div class="row">
    <div class="col-md-12">
        <div class="articles">
            {{#each articles}}
            <h5>{{this.title}} </h5>
            <h5>{{this.byline}} </h5>
            <h5>{{this.summary}} </h5>
            {{/each}}
        </div>
    </div>
</div>